langchain==0.2.14
langchain-community==0.2.12
langchain-huggingface==0.0.3
langchain-google-genai==1.0.8
chromadb==0.5.5
pypdf==4.3.1
pydantic-settings==2.4.0
python-dotenv==1.0.1
markdown==3.6
unstructured==0.15.0
langchain-chroma==0.1.2
sentence-transformers==3.0.1
mcp
fastmcp
langchain-core
langchain-ollama
composio-langgraph
langgraph